@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Quicksand", serif;
    background-color: white;
}

.custom-btn{
    background-color: #FE8C45;
    color: white;
}

.custom-btn:hover{
    color: #FE8C45;
    background-color: white;
    border: 1px solid #FE8C45;
}

.custom-hover:hover{
    color: #FE8C45;
}

.custom-heading{
    font-size: 4.5rem;
}

.custom-color{
    color: #8A47F6;
}

.custom-bg{
    background-color: #F3EDFE;
}

@media(max-width: 1080px){
    .custom-heading{
        font-size: 3.5rem;
    }
}

@media(max-width: 530px){
    .custom-heading{
        font-size: 2.5rem;
    }
}