@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Quicksand", serif;
}

.btn-custom{
    background-color: #FE8C45;
    color: white;
}

.btn-custom:hover{
    color: #FE8C45;
    background-color: white;
    border: 1px solid #FE8C45;
}